.container {
  width: 100vw;
  min-height: 100vh;
  background-color: #7da3a1;
  padding-top: 0.5em;
}
.containerCountry {
  display: grid;

  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;

  justify-items: center;
  justify-content: center;
}
.formRegister {
  width: 37em;
  background-color: #34675c;
  padding: 2%;
  margin: auto;
  margin-block: 5%;
  border-radius: 4px;
  box-shadow: 0.6em 1em 2.2em #000;
}

.controlsInput {
  width: 32em;

  font-size: 1em;
}

.difficulty {
  width: 4em;
  font-size: 1em;
}

.season {
  width: 10em;
  font-size: 1em;
}

.search {
  width: 22em;
  font-size: 1em;
}

.controls {
  background-color: #fcf7f4;
  padding: 0.7em;
  border-radius: 00.5em;
  margin-top: 2em;
  border: 1px solid #5d8aac;
}

.btnActivity {
  width: 10em;
  font-size: 1em;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.btnSend {
  width: 40em;
  padding: 0.7em;
  margin-bottom: 2em;
  margin-top: 2em;
}

p.danger {
  color: #dc143c;
  font-weight: 700;
}

input.danger {
  border: 2px solid #dc143c;
}
