.container {
  background-color: #7da3a1;
  width: 100vw;
  min-height: 100vh;
  padding-top: 1em;
}

.activitys {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin-left: 15%;
}
.activity {
  background-color: #34675c;
  width: 25%;
}
