.controls {
  background-color: #fcf7f4;
  width: 30em;
  padding: 0.7em;
  border-radius: 00.5em;
  margin-bottom: 2em;
  border: 1px solid #5d8aac;
}

.btnActivity {
  font-size: 1em;
  padding: 0.5em;
}
